@charset "utf-8";


@import "../../bower_components/normalize.css/normalize.css";
/*@import "../../bower_components/bootstrap/dist/css/bootstrap.css";*/

@import "partials/fonts";
@import "partials/variable";

body {
  margin: 0 30px;
}

.wrapper {
  margin: 0 50px;
}

.navbar-toggler {
  position: absolute;
  right: 15px;
  display: none;
  margin: 2px 0;
  border: 0;
  background: transparent;
  outline: none;
  i {
    color: $blue;
    font-size: 26px;
  }
  @media (max-width: 768px) {
    display: block;
  }
}

.orange-btn {
  background: $orange;
  color: #ffffff;
  font-family: $acrBold;
  padding: 15px;
  border-radius: 0 15px 0 15px;
  border: none 0;
  cursor: pointer;
  -webkit-box-shadow: 0 15px 20px -10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 15px 20px -10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 15px 20px -10px rgba(0, 0, 0, 0.5);
}

.blue-btn {
  background: $blue;
  color: #ffffff;
  font-family: $acrBold;
  padding: 15px;
  border-radius: 0 15px 0 15px;
  border: none 0;
  cursor: pointer;
  -webkit-box-shadow: 0 15px 20px -10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 15px 20px -10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 15px 20px -10px rgba(0, 0, 0, 0.5);
}

.default-btn {
  background: #ffffff;
  color: $black;
  font-family: $acrBold;
  padding: 15px;
  border-radius: 0 15px 0 15px;
  border: none 0;
  cursor: pointer;
  -webkit-box-shadow: 0 15px 20px -10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 15px 20px -10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 15px 20px -10px rgba(0, 0, 0, 0.5);
}

.site-logo {
  width: 500px;
}

h2{
  font-family: $segoeB;
  font-size: 32px;
  color: $black;
}

/* ------------------- VIDEO BLOCK -------------------- */

.video-banner {
  position: relative;
  top: 30px;
  display: flex;
  justify-content: center;
  -webkit-box-shadow: 0 40px 70px -20px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 40px 70px -20px rgba(0, 0, 0, 0.5);
  box-shadow: 0 40px 70px -20px rgba(0, 0, 0, 0.5);
  video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    min-height: 500px;
    max-height: 750px;
  }
  &__container {
    position: absolute;
    top: -20px;
    max-width: 1170px;
    margin: 0 auto;
    width: 100%;
    padding: 0 15px;
  }
  &__logo {
    padding: 0 15px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
  }
  &__social-link {
    a {
      padding: 15px;
      i {
        color: #ffffff;
      }
    }
  }
  &__info {
    display: flex;
    justify-content: space-between;
    padding: 100px 15px 0;
  }
  &__info-block {
    background-image: -ms-linear-gradient(left, $darkBlue 0%, $darkBlue 60%,  rgba(255, 255, 255, 0) 60%,  rgba(255, 255, 255, 0) 100%);
    background-image: -moz-linear-gradient(left, $darkBlue 0%, $darkBlue 60%,  rgba(255, 255, 255, 0) 60%,  rgba(255, 255, 255, 0) 100%);
    background-image: -o-linear-gradient(left, $darkBlue 0%, $darkBlue 60%,  rgba(255, 255, 255, 0) 60%,  rgba(255, 255, 255, 0) 100%);
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, $darkBlue), color-stop(60, $darkBlue), color-stop(60, rgba(255, 255, 255, 0)), color-stop(100, rgba(255, 255, 255, 0)));
    background-image: -webkit-linear-gradient(left, $darkBlue 0%, $darkBlue 60%,  rgba(255, 255, 255, 0) 60%,  rgba(255, 255, 255, 0) 100%);
    padding: 50px 0 80px 50px;
    h1 {
      margin-top: 0;
      font-size: 72px;
      font-family: $acrThin;
      color: #ffffff;
      span {
        font-family: $acrExBold;
      }
    }
    button {
      padding: 20px 70px;
      font-size: 36px;
    }
  }
  &__contact {
    text-align: end;
    p {
      font-family: $acrBlack;
      color: #ffffff;
      margin: 0;
    }
    .number {
      font-size: 36px;
      margin-bottom: 15px;
    }
    .sub-title {
      font-size: 16px;
      letter-spacing: 0.5px;
    }
  }
}

/* ------------------- HEADER MENU -------------------- */

.header {
  margin-top: 200px;
}

.header-nav {
  max-width: 1170px;
  padding: 50px 15px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  &__logo {
    margin-right: 50px;
  }
  &__link {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    li {
      padding-right: 10px;
      padding-top: 4px;
    }
    a {
      text-decoration: none;
      font-family: $segoeB;
      color: $black;
    }
  }
}

/* ------------------- SUCCESS BLOCK -------------------- */

.our-success {
  background: $greyLight;
  padding: 50px 0;
  &__container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
  }
  &__subs {
    position: relative;
    padding: 50px;
    text-align: center;
    &:after {
      content: url("../img/digest-angle-top.png");
      position: absolute;
      top: 0;
      left: 0;
    }
    &:before {
      content: url("../img/digest-angle-btm.png");
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
  &__subs-text {
    font-family: $acrThin;
    font-size: 58px;
    color: $darkBlue;
    span {
      font-family: $acrBold;
    }
  }
  &__subs-btn {
    font-size: 24px;
    padding: 15px 30px;
    span {
      font-size: 58px;
    }
  }
}

/* ------------------- APPROACH BLOCK -------------------- */

.approach {
  background: $grey;

  &__container {
    max-width: 1170px;
    padding: 15px;
    margin: 0 auto;
    h2 {
      padding-top: 30px;
    }
  }
  &__box {
    padding: 15px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  &__box_right {
    justify-content: flex-end;
  }
  &__box_center {
    flex-direction: column;
  }
  &__box-content {
    width: 43%;
    img {
      width: 100%;
    }
  }
  &__box-description {
    position: relative;
    background: $darkBlue;
    width: 75%;
    margin-top: -5px;
    margin-left: 40px;
    p{
      padding: 50px 25px;
      font-family: $acrThin;
      font-size: 24px;
      color: #ffffff;
      text-align: left;
      margin: 0;
    }
  }
  &__box-description_second {
    top: -20px;
    margin-left: 80px;
  }
  &__box-description_third {
    width: 100%;
    margin-left: 0;
  }
  &__box-description_fourth {
    width: 18%;
    z-index: 9;
    margin-left: 0;
  }
  &__box-content_fourth {
    position: relative;
    width: 25%;
    img {
      width: 100%;
    }
  }
  &__box-img {
    width: 10%;
    img {
      width: 100%;
    }
  }
  &__box-img_sixth {
    width: 7%;
    img {
      width: 100%;
    }
  }
  &__box-content_sixth {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    img {
      width: 100%;
    }
  }
  &__box-description_sixth {
    margin-left: 0;
    margin-top: 0;
    p {
      font-size: 36px;
      font-family: $acrRegular;
    }
  }
}

/* ------------------- SIMPLIFICATION BLOCK -------------------- */

.simplification {
  &__container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    h2 {
      padding-bottom: 70px;
      padding-top: 30px;
    }
  }
  &__description {
    background: $orangeGrad;
    margin-top: 150px;
    position: relative;
    margin-bottom: 200px;
  }
  &__img {
    position: absolute;
    top: -200px;
    left: 15%;
    width: 30%;
    img {
      width: 100%;
    }
  }
  &__title {
    position: relative;
    right: 0;
    top: -100px;
    left: 50%;
    width: 50%;
    h1 {
      font-size: 46px;
      font-family: $acrThin;
      color: $darkBlue;
      margin-bottom: 80px;
      span {
        font-family: $acrExBold;
      }
    }
    p {
      font-family: $segoeL;
      font-size: 21px;
      color: #ffffff;
      margin-bottom: 100px;
    }
    button {
      font-size: 36px;
      padding: 15px 40px;
    }
  }
  &__data-wrap {
    background: $middleBlue;
  }
  &__data {
    display: flex;
    justify-content: center;
    padding: 0 50px;
  }
  &__data-text {
    width: 50%;
    padding: 30px 30px 30px 0;
    h3 {
      font-family: $acrBold;
      font-size: 44px;
      color: #ffffff;
      margin: 0;
      span {
        color: $orangeD;
      }
    }
    li {
      color: $orangeD;
    }
    p {
      color: #ffffff;
      font-family: $segoeL;
      font-size: 18px;
    }
  }
  &__data-btn {
    position: relative;
    width: 50%;
    display: flex;
    align-items: flex-end;
    padding: 0 30px 30px 30px;
    background: url("../img/pruning-bg.png")no-repeat;
    background-size: cover;
    z-index: 1;
    button {
      font-size: 24px;
      font-family: $acrBold;
    }
  }
  &__make-wrap {
    display: flex;
    h3 {
      font-family: $acrBold;
      font-size: 44px;
      color: #ffffff;
      margin: 0;
    }
    li {
      color: #ffffff;
    }
    p {
      color: #ffffff;
      font-family: $segoeL;
      font-size: 18px;
    }
  }
  &__make {
    background: $blue;
    padding: 30px;
    position: relative;
    i {
      font-size: 300px;
      position: absolute;
      top: 0;
      color: #ffffff;
      opacity: 0.3;
    }
  }
  &__reject {
    padding: 30px;
    background: $orange;
    position: relative;
    i {
      font-size: 300px;
      position: absolute;
      top: 0;
      color: #ffffff;
      opacity: 0.3;
    }
  }
}

/* ------------------- ABOUT US BLOCK -------------------- */

.about-us {
  background: $greyLight;
  &__container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
    h2 {
      padding: 30px 0;
      margin: 0;
    }
  }
  &__img {
    max-width: 350px;
    position: relative;
    float: left;
    z-index: 2;
    img {
      width: 100%;
    }
  }
  &__content {
    max-width: 600px;
    position: relative;
    float: right;
    p {
      font-family: $segoeL;
      font-size: 20px;
      color: $black;
      margin-bottom: 30px;
      span {
        font-family: $segoeB;
      }
    }
    .orange-text {
      color: $orangeD;
      font-family: $segoeB;
      font-size: 21px;
    }
  }
  &__title {
    clear: both;
    max-width: 300px;
    background: $middleBlue;
    text-align: end;
    position: relative;
    left: 200px;
    top: -130px;
    z-index: 1;
    padding: 15px 90px 15px 200px;
    h1 {
      font-size: 44px;
      font-family: $acrBold;
      color: #ffffff;
      margin: 0;
    }
    span {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }
    p {
      color: #ffffff;
      font-family: $segoeL;
      font-size: 16px;
    }
    a {
      color: #ffffff;
      position: relative;
      padding: 0 10px;
    }
  }
  &__brands-title {
    position: relative;
    top: -50px;
    font-size: 21px;
    font-family: $segoeL;
    color: $black;
  }
  &__brands {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    img {
      padding: 10px;
    }
  }
}

/* ------------------- CALLBACK BLOCK -------------------- */

.callback {
  background: #f3f6f7;
  padding: 30px 0;
  &__container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
  }
  &__title {
    width: 50%;
    background: $orangeGrad;
    padding: 100px 50px;
    h3 {
      color: #ffffff;
      font-size: 44px;
      font-family: $acrThin;
      margin: 0;
      span {
        font-family: $acrBold;
      }
    }
  }
  &__form {
    width: 50%;
    padding: 30px;
  }
  &__form-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .description {
      width: 100%;
    }
    .download {
      font-family: $acrBold;
      width: 100%;
      display: flex;
      align-items: center;
      text-decoration: none;
      color: $darkBlue;
      margin-bottom: 15px;
      margin-top: 15px;
      i {
        color: $darkBlue;
        padding-right: 20px;
        padding-left: 20px;
      }
      p {
        cursor: default;
      }
    }
    input {
      padding: 15px;
      background: transparent;
      border: 0 none;
      border-bottom: 2px solid #cccccc;
      width: 40%;
      outline: none;
    }
    button {
      font-size: 36px;
      padding: 15px 30px;
    }
  }
}

/* ------------------- FOOTER BLOCK -------------------- */

.footer {
  background: $middleBlue;
  &__container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 30px 15px;
  }
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__link {
    a {
      padding-left: 15px;
    }
    i {
      color: #ffffff;
    }
  }
  &__sub-title {
    padding: 30px 15px 15px;
    p {
      color: #ffffff;
      font-family: $acrRegular;
      font-size: 16px;
    }
  }
}


/*-- RESPONSIVE STYLE -----------------------------*/


@import "partials/responsive";