$orange: #ee7544;
$darkBlue: #093948;
$blue: #45a4d2;
$greyLight: #f2f2f2;
$grey: #e7ecee;


$acrBlack: 'akrobatblack', FuturaEugenia, sans-serif;
$acrBold: 'akrobatbold', FuturaEugenia, sans-serif;
$acrExBold: 'akrobatextrabold', FuturaEugenia, sans-serif;
$acrExLight: 'akrobatextralight', FuturaEugenia, sans-serif;
$acrLight: 'akrobatlight', FuturaEugenia, sans-serif;
$acrRegular: 'akrobatregular', FuturaEugenia, sans-serif;
$acrSemiBold: 'akrobatsemibold', FuturaEugenia, sans-serif;
$acrThin: 'akrobatthin', FuturaEugenia, sans-serif;