$orange: #ee7544;
$orangeD: #e94c1c;
$orangeGrad: linear-gradient(to bottom, #e34b1c 0%, #d54c23 40%, #cb5837 100%);
$darkBlue: #12475b;
$middleBlue: #13485b;
$blue: #45a4d2;
$greyLight: #f2f2f2;
$grey: #e7ecee;
$black: #333333;


$acrBlack: 'akrobatblack', FuturaEugenia, sans-serif;
$acrBold: 'akrobatbold', FuturaEugenia, sans-serif;
$acrExBold: 'akrobatextrabold', FuturaEugenia, sans-serif;
$acrExLight: 'akrobatextralight', FuturaEugenia, sans-serif;
$acrLight: 'akrobatlight', FuturaEugenia, sans-serif;
$acrRegular: 'akrobatregular', FuturaEugenia, sans-serif;
$acrSemiBold: 'akrobatsemibold', FuturaEugenia, sans-serif;
$acrThin: 'akrobatthin', FuturaEugenia, sans-serif;
$segoeL: "Segoe UI Light", Roboto, sans-serif;
$segoeB: "Segoe UI Bold", Roboto, sans-serif;